In [2]:
# Import Dependencies
import pandas as pd

# Data is pulled from csv
raw_data_df = pd.read_csv("data/Weekly_Counts_of_Deaths_by_State_and_Select_Causes__2014-2018_studydata.csv")
raw_data_df

,jurisdiction,Week Ending Date,all_cause,septicemia,cancer,diabetes,Alzheimers,influenza_pneumonia,chronic_LRD,other_respiratory,kidney,NEC,heart_disease,CBVD
0,Alabama,1/4/2014,355,NaN,60.0,NaN,10.0,NaN,20.0,NaN,NaN,12.0,87.0,18.0
1,Alabama,1/11/2014,872,23.0,163.0,23.0,35.0,32.0,61.0,14.0,22.0,25.0,199.0,40.0
2,Alabama,1/18/2014,1044,21.0,209.0,34.0,31.0,33.0,77.0,19.0,24.0,19.0,242.0,60.0
3,Alabama,1/25/2014,1022,25.0,205.0,23.0,25.0,42.0,74.0,16.0,22.0,35.0,249.0,53.0
4,Alabama,2/1/2014,1040,18.0,200.0,26.0,38.0,26.0,68.0,15.0,18.0,24.0,269.0,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14089,United States,12/1/2018,55210,766.0,11405.0,1725.0,2385.0,908.0,3028.0,826.0,1071.0,699.0,13267.0,2933.0
14090,United States,12/8/2018,56095,814.0,11715.0,1769.0,2469.0,962.0,3017.0,883.0,1053.0,678.0,13077.0,2951.0
14091,United States,12/15/2018,56530,823.0,11917.0,1665.0,2508.0,976.0,3095.0,862.0,1080.0,665.0,13135.0,3067.0
14092,United States,12/22/2018,56689,850.0,11753.0,1754.0,2501.0,1003.0,3139.0,913.0,1044.0,691.0,13423.0,2965.0
14093,United States,12/29/2018,56163,799.0,11441.0,1711.0,2409.0,1088.0,3253.0,880.0,1036.0,660.0,13369.0,2920.0